<form action="/quotes/new/quote" method="post"> 
  <input type="date" name="date_created">
  <input type="number" name="client_id">
  <input type="text" name="project_scope">
  <input type="submit" value="Submit" />
</form>
