<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p><%= flash[:notice] %></p>
  <form action="/quotes/new/quote" method="post">
    <h2>Quote Details</h2>
    <input type="hidden" name="date_created" value="<%= @date %>" >
    <p>Quote Date: <%= @date %></p>
    <input type="number" name="client_id">
    <input type="text" name="project_scope">
    <h2>Labour</h2>
    <div id="labour_form">
      <div>
        <input type="text" name="labour_desc_0" placeholder="Description" />
        <input type="number" name="labour_unit_price_0" placeholder="unit price" />
        <input type="number" name="labour_quantity_0" placeholder="quantity" />
        <input type="number" name="labour_mark_up_0" placeholder="mark up" />
        <input type="number" name="labour_total_0" placeholder="total" />
      </div>
    </div>
    <button type="button" id="insertRow">Add row</button>    
    <input type="submit" value="Submit" />
  </form>
  
  <img src="../../matrix.png" alt="">

  <script src="../../js.js"></script>
</body>
</html>


