<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p><%= flash[:notice] %></p>

  <form action="/quotes/new/quote" method="post">

    <h2>Quote Details</h2>
    <input type="hidden" name="date_created" value="<%= @date %>" >
    <p>Quote Date: <%= @date %></p>
    <input type="number" name="client_id">
    <input type="text" name="project_scope">

    <h2>Labour</h2>
    <div id="labour_form">
      <div>
        <input type="text" name="labour_desc_0" placeholder="Description" />
        <input type="number" name="labour_unit_price_0" placeholder="unit price" />
        <input type="number" name="labour_quantity_0" placeholder="quantity" />
        <input type="number" name="labour_mark_up_0" placeholder="mark up" />
        <input type="number" name="labour_total_0" placeholder="total" />
      </div>
    </div>
    <button type="button" id="insertLabourRow">Add Row</button>    

    <h2>Materials</h2>
    <div id="materials_form">
      <div>
        <input type="text" name="material_desc_0" placeholder="Description" />
        <input type="number" name="material_unit_price_0" placeholder="unit price" />
        <input type="number" name="material_quantity_0" placeholder="quantity" />
        <input type="number" name="material_mark_up_0" placeholder="mark up" />
        <input type="number" name="material_total_0" placeholder="total" value="<%=  %>" />
      </div>  
    </div>
    <button type="button" id="insertMaterialRow">Add Row</button>  

    <h2>Expenses</h2>
    <div id="expenses_form">
      <div>
        <input type="text" name="expense_desc_0" placeholder="Description" />
        <input type="number" id="expense_unit_price_0" name="expense_unit_price_0" placeholder="unit price" />
        <input type="number" id="expense_quantity_0" name="expense_quantity_0" placeholder="quantity" />
        <input type="number" id="expense_mark_up_0" name="expense_mark_up_0" placeholder="mark up" />
        <input type="number" id="expense_total_0" name="expense_total_0" placeholder="total" />
        <button type="button" id="calucalte_total">Calc</button>
      </div>  
    </div>
    <button type="button" id="insertExpenseRow">Add Row</button> 

    <div>
      <input type="submit" value="Submit" />
    </div>
    
    
  </form>

  
  <img src="../../matrix.png" alt="">

  <script src="../../js.js"></script>
  <script src='../../cal.js'></script>
</body>
</html>


