<form action="/quotes" method="post"> 
  <input type="date" name="date_created">
  <input type="number" name="client_id">
  <input type="text" name="project_scope">
  <input type="text" name="materials_table">
  <input type="text" name="labour_table">
  <input type="text" name="expenses_table">
  <input type="submit" value="Submit" />
</form>
